.update-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-update-product{
    display: flex;
    flex-direction: column;
}

.message-updateproduct{
    color: chartreuse;
}