.checkout h1{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

.common-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-p{
    color: aquamarine;
    font-size: 25px;
}
.checkout{
    text-align: center;
}
