<div class="add-product">
    <h1>Add new product</h1>
    <p class="message-addproduct">{{addProductMessage}}</p>
    <form #addproduct="ngForm" class="form-add-product" (ngSubmit)="addProduct(addproduct.value)">
        <input ngModel type="text" class="form-input" placeholder="Enter name product" name="name">
        <input ngModel type="text" class="form-input" placeholder="Enter product price" name="price">
        <input ngModel type="text" class="form-input" placeholder="Enter product color" name="color">
        <input ngModel type="text" class="form-input" placeholder="Enter product Category" name="category">
        <textarea ngModel type="text" class="form-input" placeholder="Enter product Description" name="description"></textarea>
        <input ngModel type="file" class="form-input" placeholder="Enter product ImageUrl" name="imageUrl">
        <button class="form-btn">Add product</button>
    </form>
</div>
