.add-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-add-product{
    display: flex;
    flex-direction: column;
}
.message-addproduct{
    color: chartreuse;
}