<div class="cart-page">
    <h1>
        Cart Page
    </h1>
    <div class="row">
    <div class="col-sm-8 details">
        <ul *ngFor="let cart of cartData">
            <li>
                <img src="{{cart.imageUrl}}" alt="">
            </li>
            <li>
                <span> {{cart.name}}</span>
            </li>
            <li>
                <span> Price : {{cart.price}}</span>
            </li>
            <li>
                <span> Quantity : {{cart.quantity}}</span>
            </li>
            <li >
               <button class="form-button" (click)="removeCart(cart.id)" >Remove To Cart</button>
            </li>
        </ul>
        
    </div>
    <div class="col-sm-4 summary">
    <h3>Summary</h3>
    <ul>
        <li> Amount: <span>{{priceSumary.price}}</span></li>
        <li> Tax: <span>{{priceSumary.tax}}</span></li>
        <li> Delivery: <span>{{priceSumary.delivery}}</span></li>
        <li> Discount: <span>{{priceSumary.discount}}</span></li>
        <li> <h4>Total:</h4>  <span>{{priceSumary.total}}</span></li>
        <button class="form-btn" (click)="checkout()">Checkout</button>
    </ul>
    </div>
    </div>
    </div>
