.signup,.signIn{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: blueviolet;
}

.showForm{
    cursor: pointer;
}

.errorauth{
    color: red;
}

.form-input-signup{
    width: 100%;
}