<nav class="nav">
    <a style="text-decoration: none;" href="" routerLink="/"><h1>E-commerce</h1></a>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input 
        #searchInput
        (keyup)="searchProduct($event)" type="text" (blur)="hideSearch()" placeholder="Search for Product">
        <button (click)="submit(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let data of searchResult">
                <a (mousedown)="redictTodetails(data.id)" >{{data.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#"routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">Login</a></li>
            <li><a href="#">Cart</a></li>
    
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a href="#" routerLink="/seller-home">Product List</a></li>
            <li><a href="#"routerLink="/seller-add-product">Add producr</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
    
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a  >Seller</a></li>
            <li><a >Home</a></li>
            <li><a >{{userName | titlecase}} </a></li>
            <li><a style="cursor: pointer;" (click)="userLogout()" >Logout</a></li>
            <li><a >Cart</a></li>
    
        </ul>
    </div>
</nav>
