/* You can add global styles to this file, and also import other style files */
body{
    font-family:sans-serif;

}
.container{
    margin-left: 5%;
    margin-right: 5%;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.commom-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 300px;
    border: 1px solid blueviolet;
    color: blueviolet;
}
.form-btn{
    height: 35px;
    border: 1px solid blueviolet;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
